# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# SQLite DB (user auth)
data/auth/users.db

# Poetry files
poetry.lock

# VSCode settings
.vscode/

# Streamlit config
.streamlit/

# Docker volumes (optional)
data/images/*
!data/images/.gitkeep

# Environment files
.env

# OS metadata
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/